---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<a href="/">Overview</a>
		<a href="/about">Introduction</a>
		<a href="/blog">My Notes</a>

		<h1>About Me</h1>
		<h2>My personal design journal</h2>

		<p>
			Nothing fancy, very raw bones, for sharing my thoughts and learnings in design/tech while practicing being creative
			as much as possible.
		</p>
	</body>
</html>
