---
import BaseLayout from '../layouts/BaseLayout.astro';
import NotePost from '../components/NotePost.astro';

const allNotes = await Astro.glob('../notes/*.md');
const pageTitle ="Notes"
---

<BaseLayout pageTitle={pageTitle}>
	<p>I try to publish at least 3 times week. I'm not spending a lot of time self editing so embrace all the mistakes
		and typos and appreciate the ideas being captured.
	</p>

	<h2>Note list</h2>
	<ul>
		{allNotes.map((note) => <NotePost url={note.url} title={note.frontmatter.title}></NotePost> )}
	</ul>
</BaseLayout>