---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<a href="/">Notes</a>
		<a href="/about">Introduction</a>
		<a href="/blog">My Notes</a>

		<h1>It's messy out here</h1>
	</body>
</html>
